body {
    background-color: aqua;
}

#title, .subtitle {
    color: burlywood;
}

.list {
    font-size: 20px;
    border: 10px solid #cf3c3cf3;
}

ul {
    list-style-type: ;
}

.h {
    text-decoration: ;
    //background-color: aliceblue;
}