* {
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  max-height: 157px;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

a {
  color: #0095f6;
}
.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 50rem;
}

.phone-container {
  max-width: 50vw;
}

.phone-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 618px;
  max-height: fit-content;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.login-div {
  background-color: #ffffff;
  margin: 10px 20px;
  border: 1px solid #e4e4e4;
  padding: 2rem 3rem;
  width: 25rem;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-div input {
  width: 100%;
}

.login-div button {
  color: #ffffff;
  background-color: #b9ddfa;
  margin: 0;
  width: 100%;
  border-radius: 2px;
}

.singup {
  display: flex;
  flex-direction: row;
}

.ou {
  display: flex;
  align-items: center;
}

.linha {
  margin: 1px solid #e4e4e4;
  padding: 1px;
  border: 1px 5rem;
  height: 1px;
}

#fb {
  color: blue;
}

#esqueceu {
  color: blue;
}

.cadastre-div {
}

#cadastre {
  color: aqua;
}

.app-div {
  display: flex;
  flex-direction: column;
}

.add-app {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appstore-div {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}

.app-store {
  height: 40px;
}

.ft-1 {
  display: flex;
  flex: 2;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-anchors {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.footer-a {
  font-size: 12px;
  color: #8e8e8e;
  margin: 0 8px 12px;
}

.footer-a select {
  font-size: 12px;
  color: #8e8e8e;
  margin: 0 8px 12px;
}

.footer-lang {
  display: flex;
  flex-direction: row;
}
